body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #778899;
}

.quem-somos{
    background-color: black;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: silver;
}